{% include "header.jinja" %}
<body>

<form method="POST">
  <div class="form-group">
    <label for="aufgabe">Aufgabe</label>
    <input type="text" class="form-control" id="aufgabe" name="aufgabe">
  </div>
  <div class="form-group">
    <label for="deadline">Deadline</label>
    <input type="date" class="form-control" id="deadline" name="deadline">
{#  todo: Datumanzeige in HTML von US Format in DE Format umwandeln. #}
  </div>
  <button type="submit" class="btn btn-primary">Abschicken</button>
</form>

{% include "footer.jinja" %}

</body>
</html>