.btn-lg {
    margin-bottom: 20px;
    padding: 10px;
}

.my-footer {
    padding: 15px;
}

.my-navigation {
    padding-left: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
}

h2 {
margin-top: 100px;
margin-bottom: 25px;
}

body {
margin-left: 25px;}
