<!-- Header -->
{% include "header.jinja" %}
<div class="content-main">
    <div>
        <h2>Archiv</h2>

        <h4>Einträge Filtern:</h4>
        <!-- Filterung Eintraege durch Formular -->
        <form method="POST">
            <div class="row">
                <div class="col-lg-5">
                    <select class="form-select filter-select" aria-label="Default select example" name="typ">
                        <option value="" selected>Nach Typ von Eintrag filtern</option>
                        {%for typ in typen%}
                        <option value="{{ typ }}">{{ typ }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-5">
                    <select class="form-select filter-select" aria-label="Default select example" name="intepret">
                        <option value="" selected>Nach Künstler filtern</option>
                        {%for intepret in intepreten%}
                        <option value="{{ intepret }}">{{ intepret }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <select class="form-select filter-select" aria-label="Default select example" name="genre">
                        <option value="" selected>Nach Genre filtern</option>
                        {%for genre in genres %}
                        <option value="{{ genre }}">{{ genre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-5">
                    <select class="form-select filter-select" aria-label="Default select example" name="release">
                        <option value="" selected>Nach Erscheinungsjahr filtern</option>
                        {%for jahr in jahre %}
                        <option value="{{ jahr }}">{{ jahr }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <select class="form-select filter-select" aria-label="Default select example" name="gehoert">
                        <option value="" selected>Nach Monat filtern</option>

                        <option value="1">Januar</option>
                        <option value="2">Februar</option>
                        <option value="3">März</option>
                        <option value="4">April</option>
                        <option value="5">Mai</option>
                        <option value="6">Juni</option>
                        <option value="7">Juli</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">Oktober</option>
                        <option value="11">November</option>
                        <option value="12">Dezember</option>


                    </select>
                </div>
                <div class="col-lg-5">
                    <select class="form-select filter-select" aria-label="Default select example" name="hoerjahr">
                        <option value="" selected>Nach Jahr filtern</option>
                        {%for hoerjahr in hoerjahre %}
                        <option value="{{ hoerjahr }}">{{ hoerjahr }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <select class="form-select filter-select" aria-label="Default select example" name="rating">
                        <option value="" selected>Nach Bewertung filtern</option>
                        {%for bewertung in bewertungen %}
                        <option value="{{ bewertung }}">{{ bewertung }}</option>
                        {% endfor %}
                    </select>
                </div>


            </div>
            <button type="submit" class="btn-form btn btn-lg btn-danger">Filtern</button>
        </form>


    </div>
<!-- Auflistung der Einträge -->
    <h4> Einträge:</h4>

    <div class="row">
        {% for eintrag in eintraege %}
        <div class="card card-archiv" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ eintrag.titel }}</h5>
                <p class="card-text">Typ: {{ eintrag.typ }}</p>
                <p class="card-text">Intepret: {{ eintrag.intepret }}</p>
                <p class="card-text">Genre: {{ eintrag.genre }}</p>
                <p class="card-text">Erscheinungsjahr: {{ eintrag.release }}</p>
                <p class="card-text">Gehört am: {{ eintrag.gehoert }}</p>
                <p class="card-text">Bewertung: {{ eintrag.rating }} von 5 Sternen</p>
                <a class="btn btn-danger" href="/bearbeiten/{{eintrag.id}}" role="Button">Bearbeiten</a>
                <a class="btn btn-secondary" href="/loeschen/{{eintrag.id}}" role="Button">Löschen</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Footer -->
{% include "footer.jinja" %}