{% include "header.jinja" %}
<div class="content-main">
<h2>Archiv</h2>
{% for eintrag in songs %}
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ eintrag["titel"] }}</h5>
      <p class="card-text">Intepret: {{ eintrag["intepret"] }}</p>
      <p class="card-text">Genre: {{ eintrag["genre"] }}</p>
      <p class="card-text">Erscheinungsjahr: {{ eintrag["release"] }}</p>
      <p class="card-text">Gehört am: {{ eintrag["gehoert"] }}</p>
      <p class="card-text">Rating: {{ eintrag["rating"] }} von 5 Sternen</p>
    </div>
  </div>
    </div>
  </div>
</div>

{% endfor %}
</div>

{% include "footer.jinja" %}

