 <footer class="my-footer text-center footer bg-dark">
 <div class="container bg-dark">
        <span class="text-white">© Alessia De Luca</span>
      </div>
    </footer>
<!-- Script -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
   </div>
</body>

</html>