<!-- Header -->
{% include "header.jinja" %}

<!-- Titel -->
  <div class="container mt-5">
    <div class="pt-5 mx-auto">
      <h1 class="display-2">Willkommen zurück.</h1>
      <p class="lead">Lass uns wieder loslegen.</p>
    </div>

    <!-- Row für Cards -->
    <div class="row">
      <!-- Card 1 Songs -->
      <div class="col-lg-6">
        <div class="card mb-6 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Neuer Song festhalten</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Hast du einen neuen Song gehört?</p>
            <a href="/neuer-eintrag-song" class="btn btn-block btn-danger" role="button">Eintrag erstellen</a>
          </div>
        </div>
      </div>

      <!-- Card 2 Alben-->
      <div class="col-lg-6">
        <div class="card mb-6 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Neues Album festhalten</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Ganzes Album eintragen</p>
            <a href="/neuer-eintrag-album" class="btn btn-block btn-danger" role="button">Eintrag erstellen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Footer -->
{% include "footer.jinja" %}