{% include "header.jinja" %}


  <div class="container mt-5">
    <div class="pt-5 mx-auto">
      <h1 class="display-2">Willkommen zurück.</h1>
      <p class="lead">Lass uns wieder loslegen.</p>
      <button type="button" class="btn btn-primary btn-lg btn-danger" data-toggle="modal"
        data-target="#exampleModal">Neuen Eintrag Erstellen</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Was für einen Eintrag willst du machen?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-check">
              <input class="form-check-input" type="radio" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Album
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="" id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                Song
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            <button type="button" class="btn btn-danger">Weiter</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Row von Cards -->
    <div class="row mb-3">
      <!-- Card 1 -->
      <div class="col-sm-6 col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Künstler</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Alle deine Lieblingskünstler auf einem Blick.</p>
            <button type="button" class="btn btn-block btn-danger">Ansehen</button>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-sm-6 col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Alben</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Chronik deiner Musikalben.</p>
            <button type="button" class="btn btn-block btn-danger">Ansehen</button>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-sm-6 col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Genres</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Der Stil von deinem täglichen Soundtrack.</p>
            <button type="button" class="btn btn-block btn-danger">Ansehen</button>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div>


  <!-- Footer -->
  <div class="fixed-bottom">

{% include "footer.jinja" %}
  </div>
</body>

</html>