{% include "header.jinja" %}
<h2>Neuer Eintrag</h2>

<div class="container-fluid">
  <form method="POST">
    <div class="form-group w-50">
      <label for="alb-titel">Albumtitel</label>
      <input type="text" class="form-control" id="alb-titel" name="alb-titel">
    </div>
    <div class="form-group w-50">
      <label for="alb-intepret">Intepret</label>
      <input type="text" class="form-control" id="alb-intepret" name="alb-intepret">
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="alb-genre">Genre</label>
          <input type="text" class="form-control" id="alb-genre" name="alb-genre">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="alb-rating">Rating</label>
          <input type="text" class="form-control" id="alb-rating" name="alb-rating">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="alb-gehoert">Gehört am</label>
          <input type="date" class="form-control" id="alb-gehoert" name="alb-gehoert">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="alb-release">Erscheinungsjahr</label>
          <input type="text" class=" date-year form-control" id="alb-release" name="alb-release">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-danger">Erstellen</button>
  </form>
</div>
{% include "footer.jinja" %}