{% include "header.jinja" %}
<div class="content-main">
<h2>Neuer Eintrag</h2>

<div class="container-fluid">
  <form method="POST">
    <div class="form-group w-50">
      <label for="albtitel">Albumtitel</label>
      <input type="text" class="form-control" id="albtitel" name="albtitel" required>
    </div>
    <div class="form-group w-50">
      <label for="albintepret">Intepret</label>
      <input type="text" class="form-control" id="albintepret" name="albintepret" required>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="albgenre">Genre</label>
          <input type="text" class="form-control" id="albgenre" name="albgenre" required>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="albrating">Rating</label>
          <input type="number" min="1" max="5" class="form-control" id="albrating" name="albrating" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="albgehoert">Gehört am</label>
          <input type="date" class="form-control" id="albgehoert" name="albgehoert" required>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="albrelease">Erscheinungsjahr</label>
          <input type="number" class="form-control" id="albrelease" name="albrelease" required>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-danger">Erstellen</button>
  </form>
</div>
</div>
{% include "footer.jinja" %}