<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>What's My Music?</title>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/main.css">

</head>

<body>
  <!-- Navigation Header -->
  <nav class=" my-navigation navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">What's my Music?</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Statistiken</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vorschläge</a>
        </li>
        <li class="dropdown">
          <a class="nav-item nav-link dropdown-toggle" href="#" data-toggle="dropdown">Archiv</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Künstler</a>
            <a class="dropdown-item" href="#">Alben</a>
            <a class="dropdown-item" href="#">Songs</a>
            <a class="dropdown-item" href="#">Genres</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>

  <!-- Footer -->
  <div class="fixed-bottom">
    <div class=" my-footer bg-dark text-center text-white">
      <p>© Alessia De Luca</p>
    </div>
  </div>
  <!-- Script -->
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>