<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rechner</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

</head>
<body>
    <form method="post">
      <label for="fname">Erste Zahl:</label><br>
      <input id="fname" name="zahl_0"><br>

      <label for="lname">Zweite Zahl:</label><br>
      <input type="text" id="lname" name="zahl_1"><br><br>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if ergebnis %}
         <a>Das Ergbenis lautet {{ ergebnis }}!</a>
    {% endif %}

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>

</body>
</html>